body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
    left: 0;
    right: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.5rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.8;
    padding: 0.15rem 0.5rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-option a{
    font-size: 1rem;
    opacity: 0.7;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.4rem;
    padding: 0.25rem 0.5rem;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.2rem;
    cursor: pointer;
}

.icons{
    font-size: 1.1rem;
    display: flex;
    cursor: pointer;
}

.icons i{
    opacity: 0.7;
    margin: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.badge{
    background-color: #383838;
    color: white;
    opacity: 0.85;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    margin-top: 0.25rem;
    height: 1.75rem;
    width: fit-content;
    cursor: pointe;
}

.badge:hover{
    opacity: 1;
}

.white-badge{
    opacity: 0.85;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    margin-top: 0.25rem;
    height: 1.5rem;
    width: fit-content;
    cursor: pointer;
}

.white-badge:hover{
    transform: scale(1.035);
}

.black-badge{
    background-color: #000;
    color: white;
    opacity: 0.85;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    margin-top: 0.25rem;
    height: 1.95rem;
    width: auto;
    cursor: pointer;
}

.black-badge:hover{
    transform: scale(1.035);
}

.library .recent-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.55rem;
}

.search-icon{
    opacity: 0.7;
    margin-left: 1rem;
    cursor: pointer;
}

.search-icon:hover{
    opacity: 1;
    transform: scale(1.01);
}

.recent-bar .recents{
    margin-right: 0.5rem;
    opacity: 0.7;
    font-size: 0.75rem;
    cursor: pointer;
}

.recents:hover{
    opacity: 1;
    transform: scale(1.01);
}

.lib-playlist{
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.lib-playlist img{
    height: 3.25rem;
    border-radius: 0.5rem;
}

.lib-playlist .box{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.35rem 0.25rem 0.35rem 0.25rem;
}

.lib-playlist .box a{
    margin-left: 0.75rem;
}

.lib-playlist .box:hover{
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    background-color: #383838;
    border-radius: 0.25rem;
}

.sticky-bar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    margin-top: 0.5rem;
    padding:0 1.5rem;
}

.back-for img{
    height: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
}

.account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account button{
    margin-right: 0.5rem;
}

.account img{
    height: 1.5rem;
    border-radius: 50%;
}

.black-img{
    background-color: #000;
    opacity: 0.85;
    border: none;
    border-radius: 50%;
    padding: 0.25rem 0.25rem;
    margin-top: 0.25rem;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-img:hover{
    transform: scale(1.03);
}

.main-content{
    background: linear-gradient(to bottom, #20164a, #524d92, #000000);
    padding: 0 0;
}

.big-font{
    margin-top: 3rem;
    display: flex;
    align-items: end;
    padding:0 1.5rem;
}

.big-font img{
    border-radius: 0.5rem;
    height: 12rem;
}

.big-letter{
    margin-left: 0.5rem;
}

.name{
    display: flex;
    align-items: center;
}

.name img{
    height: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid black;
}

.music-list{
    background: linear-gradient(to bottom, #150937, #1e1b3f, #000000);
}

.mid-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    align-items: center;
    padding:0.75rem 1.5rem;
}

.music-list .play{
    font-size: 3.75rem;
    background-color: black;
    color: rgb(0, 255, 0);
    border-radius: 50%;
}

.list-i{
    opacity: 0.8;
}

.list-i a{
    margin-right: 0.25rem;
    font-size: 0.75rem;
}

.list-i:hover{
    opacity: 1;
}



.song-img{
    height: 1rem;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.albam{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 1.75rem 0 1.75rem;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 1.75rem 0 1.75rem;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#toggleButton {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #010101;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#toggleButton.play {
    background-image: url('/images/player_icon3.png');
}

#toggleButton.pause {
    background-image: url('/images/puse_icon.jpg');
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1db760;
    border-radius: 50%;
    margin-top: -6px;
}

.controls-img{
    height: 2.25rem;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    opacity: 0.5;
}

.controls-img:hover{
    opacity: 1;
}

.volume-bar{
    width: 30%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.volume-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1db760;
    border-radius: 50%;
    margin-top: -6px;
}

.controls i{
    padding: 0 0.5rem 0 0.5rem;
    opacity: 0.5;
}

.controls i:hover{
    opacity: 1;
}

.albam-img{
    height: 3.25rem;
    border-radius: 0.5rem 0.5rem;
}

.albam-icon{
    height: 1.75rem;
    opacity: 0.7;
    padding: 0.25rem;
}

.albam-icon:hover{
    opacity: 1;
}

.albam-p{
    padding: 0 1rem 0 1rem;
}

.albam-p1{
    font-size: 0.75rem;
    font-weight: 700;
}

.albam-p2{
    font-size: 0.65rem;
    opacity: 0.8;
}